{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil - Aero ULM Valence{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accueil.css' %}">
{% endblock %}

{% block content %}
	<section class="home">
	    <video class="video-slide active" src="{% static 'res/videos/video1.mp4' %}" autoplay muted loop type="video/mp4"></video>
	    <video class="video-slide" src="{% static 'res/videos/video4.mp4' %}" autoplay muted loop type="video/mp4"></video>
	
	    <div class="content active">
	        <h1>Le Multi-axes.<br><span>✈️</span></h1>
	        <p>Vous aimez la sensation de liberté, le pilotage précis et les panoramas à couper le souffle ? Le multiaxe est fait pour vous !
	            Cet ULM à ailes fixes se rapproche de l’aviation traditionnelle par son cockpit fermé et ses commandes similaires à celles d’un avion léger.
	            Facile à prendre en main et très maniable, il offre une expérience de vol unique, entre sécurité et adrénaline.
	            Prenez les commandes et découvrez le ciel comme vous ne l’avez jamais vu !</p>
	        <a href="#">Découvrir</a>
	    </div>
	
	    <div class="content">
	        <h1>Le Pendulaire.<br><span>🌬️</span></h1>
	        <p>Vous aimez le vol en plein air, la sensation du vent et l’incroyable liberté du ciel ? Le pendulaire est fait pour vous !
	            Cet ULM à aile delta se pilote par déplacement du centre de gravité du chariot, offrant une immersion totale et des sensations uniques.
	            Léger, maniable et intuitif, il permet de voler en harmonie avec les éléments, entre douceur et adrénaline.
	            Accessible à tous, il promet une expérience inoubliable, proche du vol libre. Prenez les commandes et laissez-vous porter par le vent !</p>
	        <a href="#">Découvrir</a>
	    </div>
	
			<!-- option rel pour éviter que la page ouverte communique avec notre site-->
			 <!--Tagrel = blank pour rediriger vers une autre page-->
		<div class="media-icons">
			<a href="https://www.facebook.com/aeroulmvalence26" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://www.instagram.com/aeroulm" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://wa.me/33066652339" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-whatsapp"></i>
			</a>
		</div>
		
	
	    <div class="slider-navigation">
	        <div class="nav-btn active"></div>
	        <div class="nav-btn"></div>
	    </div>
	</section>
{% endblock %}

{% block extra_js %}


	<script type="text/javascript">

		let currentSlide = 0;

	    const btns = document.querySelectorAll(".nav-btn");
	    const slides = document.querySelectorAll(".video-slide");
	    const contents = document.querySelectorAll(".content");
	
	    var sliderNav = function(manual) {
	        btns.forEach((btn) => btn.classList.remove("active"));
	        slides.forEach((slide) => slide.classList.remove("active"));
	        contents.forEach((content) => content.classList.remove("active"));
	
	        btns[manual].classList.add("active");
	        slides[manual].classList.add("active");
	        contents[manual].classList.add("active");

			currentSlide = manual;
	    }
	
	    btns.forEach((btn, i) => {
	        btn.addEventListener("click", () => sliderNav(i));
	    });

		setInterval(() => {
			let nextSlide = (currentSlide + 1) % slides.length;
			sliderNav(nextSlide);
		}, 5000); // 2000 ms = 2 secondes

	</script>
{% endblock %}