{% extends "base.html" %}
{% load static %}

{% block title %}Vols Découverte - Aero ULM Valence{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/volsDecouverte.css' %}">
{% endblock %}


{% block content %}

<section class="etapes-container">
    <h1 class="etapes-title">AVANT DE DECOLLER</h1>
    <p class="description">
      Avant de réserver votre baptême de l'air en ULM, assurez-vous de remplir ces quelques conditions essentielles !
    </p>
    <div class="plan-grille">
      <div class="plan-contenu">
        <span class="numero">01</span>
        <h2>Pièce d'identité valide</h2>
        <p>Munissez-vous d'une pièce d'identité en cours de validité pour pouvoir confirmer votre inscription sur place.</p>
      </div>
      <div class="plan-contenu">
        <span class="numero">02</span>
        <h2>Condition physique adaptée</h2>
        <p>Assurez-vous d’être en bonne forme physique et de ne présenter aucune contre-indication médicale à ce type d'activité.</p>
      </div>
      <div class="plan-contenu">
        <span class="numero">03</span>
        <h2>Tenue confortable</h2>
        <p>Portez des vêtements adaptés à la météo et évitez les objets encombrants. Des lunettes de soleil peuvent être utiles.</p>
      </div>
    </div>

    <div class = "plan-image">
        <img class="pendulaire" src="{% static 'res/images/pendulaire.jpg' %}" alt="">
        <img class="3axes" src="{% static 'res/images/3axes.jpg' %}" alt="">
    </div>
  </section>
  

{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const icon = document.querySelector('.navigation-items a i.fa-user');
    if (icon) {
        icon.style.color = "#3F3F3F";
    }
});
</script>
{% endblock %}
