/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Style du header */
header {
    z-index: 999;
    position: fixed; /* Fixer le header en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    background-color: transparent; /* Fond transparent pour le header */
    transition: 0.5s ease;
}


/* Logo */
.logo-icone {
    width: 40%; 
    height: 40%;
    filter: saturate(100%);
    transition: transform 0.5s ease;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%; 
    height: 30%;
}

.logo-icone:hover {
    transform: scale(1.1);
}

/* Navigation */
header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff; /* Couleur du texte en blanc */
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s ease;
}

/* Effet de survol sur le lien */
header .navigation .navigation-items a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}