
/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Style du header */
header {
    z-index: 999;
    position: fixed; /* Fixer le header en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    background-color: transparent; /* Fond transparent pour le header */
    transition: 0.5s ease;
}

/* Bouton menu */
.menu-btn {
    background: url('../res/icones/menu_b.png') no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn.active {
    z-index: 1;
    background: url('../res/icones/close.png') no-repeat;
    background-size: 25px;
    background-position: center;
}

/* Logo */
.logo-icone {
    width: 40%; 
    height: 40%;
    filter: saturate(100%);
    transition: transform 0.5s ease;
}

.logo-container {
    position: relative;
    width: 30%; 
    height: 30%;
}

.logo-icone:hover {
    transform: scale(1.1);
}

/* Navigation */
header .navigation {
    width: 70%;
    position: relative;
}

header .navigation-items .fa {
    color: #ffffff;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff; /* Couleur du texte en blanc */
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s ease;
}

/* Effet de survol sur le lien */
header .navigation .navigation-items a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

/* Responsive Design */
@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none; /* Masquer la navigation par défaut */
    }

    .menu-btn {
        display: block; /* Afficher le bouton de menu */
    }

    header .navigation.active {
        display: flex; /* Afficher la navigation lorsque active */
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #3F3F3F; /* Couleur de texte pour la version mobile */
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #3F3F3F;
        height: 5px;
    }

    header .navigation.active .navigation-items { 
        background-color: white;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    header .navigation-items .fa {
        color: #3F3F3F;
    }
}

@media (min-width: 1041px) {
    header .navigation {
        display: flex; /* Navigation toujours visible */
    }

    .menu-btn {
        display: none; /* Masquer le bouton de menu sur grands écrans */
    }
}