/* volsDecouverte.css */


*{
    background: white;
}

/* Header */

/* Navigation */
header .navigation {
    width: 70%;
    position: relative;
}


header .navigation .navigation-items a {
    position: relative;
    color: #3F3F3F; /* Couleur du texte en blanc */
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s ease;
}

/* Effet de survol sur le lien */
header .navigation .navigation-items a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #3F3F3F;
    transition: width 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

/* Etapes de vol */

.etapes-container .etapes-title {
    padding-top: 150px;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    color: black;
    letter-spacing: 5px;
}
.plan-contenu .numero{
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.plan-contenu .number:nth-child(4){
    background-color: #F9AE5D;
}

.plan-contenu .number:nth-child(7){
    background-color: #ffcca3;
}

.plan-contenu h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

.plan-contenu p{
    color: var(--text-light);
    margin-bottom: 2rem;
}

.plan-images{
    position: relative;
}

.plan-images img{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}