{% extends "baseIntranet.html" %}

{% block title %}
	Budget
{% endblock %}

{% block headerContent %}
{% endblock %}

{% block bodyId %}
	intranetBudgetGererOperationPage
{% endblock %}

{% block titrePage %}
	<p>Budget {{current_year}} - Gestion des opérations</p>
{% endblock %}

{% block asideContent %}
	{% if activeLigne %}
		<p>{{activeSection.code}} - {{activeSection.name}}</p>
		<p>{{activeProjet.code}} - {{activeProjet.name}}</p>
		<p>{{activeLigne.code}} - {{activeLigne.name}}</p>
	{% endif %}
	<p class = 'error'>{{error}}</p>
	<form action = "{% url "intranet_Budget_Operation_Add_Show" activeLigne.id %}" method = "post">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input type="submit" value= "{{ actionBtnName }}" class = "BtnSubmit" /></p>
	</form>
{% endblock %}

{% block mainContent %}
	<div>
		{% if budgetOpAll %}
			<table class="table">
  				<thead>
    				<tr>
      					<th scope="col">Code</th>
      					<th scope="col">Objet</th>
      					<th scope="col">Date</th>
      					<th scope="col">Aéronef</th>
      					<th scope="col">Charge (€)</th>
      					<th scope="col">Produit (€)</th>
      					<th scope="col" colspan = '2'>Actions</th>
    				</tr>
  				</thead>
  				<tbody>	
					{% for Op in budgetOpAll %}
						<tr>
							<td>{{Op.code}}</td>
							<td>{{Op.name}}</td>
		      				<td>{{Op.date|date:"d/m/Y"}}</td>  
		      				<td>{{Op.aeronef}}</td>
		      				<td align = right>{{Op.charge}}</td>
		      				<td align = right>{{Op.produit}}</td>
		      				<td>
								<form action ="{% url "intranet_Budget_Operation_Modify" Op.id %}" method="POST">
									{% csrf_token %}
									<input type = "submit" value="Modifier" class = "BtnModify"/>
								</form>
							</td>
      						<td>
								<form action ="{% url "intranet_Budget_Operation_Delete" Op.id %}" method="POST">
									{% csrf_token %}
									<input type = "submit" value="Supprimer" class = "BtnDelete"/>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>	
		{% else %}
			<p>Aucune opération n'est actuellement enregistrée pour la ligne <i>{{activeLigne.code}} - {{activeLigne.name}}</i></p>
		{% endif %}
	</div>
	
{% endblock %}